.container{
    width: 100%;
    height: 100%;
}

.header{
    width: 100%;
    height: 200px;
    background-color:#eee;
}

.header_login{
    font-size: 50px;   
    text-align: right;
    margin-right: 100px;
}

.main_content{
    width: 100%;
    height: 1000px;
}

.main_search{
    width: 100%;
    height: 40%;
    background-image: url(../img/main_searchbgimg.png);
    background-repeat : no-repeat;
    background-size : contain;
}

.main_picutures{
    width: 100%;
    height: 60%;
    background-color:red;
    margin-bottom: 0;
    
}

.footer{
    width: 100%;
    height: 200px;
    border-top: 5px solid black;
   
}

