.container{
    width: 100%;
    height: 100%;
}

.header{
    width: 100%;
    height: 80px;
    background-color:#eee;
    display : flex;
}

.header_box{
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}
    
.header_login{
    font-size: 25px;
    font-weight: 600; 

}

.main_content{
    width: 100%;
    height: 1000px;
}

.main_search{
    width: 100%;
    height: 35%;
    background-image: url(../img/main_searchbgimg.png);
    background-repeat : no-repeat;
    background-size : contain;
    display: flex;
    align-items: center;
    flex-direction : column;
    justify-content: center;
}

.search_box{
    width: 100%;
    text-align: center;
    padding: 20px;
}

.search_input{
    width: 700px;
    height: 35px;
    font-size: 20px;
    padding: 10px;
    border: solid 5px goldenrod;
}

.main_picutures{
    width: 100%;
    height: 700px;
    background-color: #D8D8D8;
    margin-bottom: 0;
}

.footer{
    width: 100%;
    height: 80px;
    border-top: 2px solid #848484;
}

